{% include 'reportes/head_reportes.html' %}{% load tags %}
{% if controles.count <= 0  %}
  <table style="width:100%;">
    <tbody>
      <div style="overflow-x:auto;">
        <table style="width:100%" class="reporte">
          <tr>
            <th></th>
          </tr>
          <tr>
            <div class="sin_datos">
              <h1>NO EXISTEN REGISTROS DE ESTE BENEFICIARIO</h1>
            </div>
          </tr>
        </table>
      </div>
    </tbody>
  </table>
{% endif %}
{% if controles.count >= 1  %}
  <table style="width:100%; margin-bottom: 20px">
    <tr class="table">
      <th class="Severo td_limites"><strong>BAJO PESO SEVERO</strong></th>
      <th class="Bajo td_limites"><strong>BAJO PESO</strong></th>
      <th class="Promedio td_limites"><strong>PROMEDIO</strong></th>
      <th class="Obeso td_limites"><strong>OBESO</strong></th>
      <th class="Sobrepeso td_limites"><strong>SOBREPESO</strong></th>
    </tr>
  </table>
  <table style="width:100%;">
    <tbody>
      <table style="width:100%">
        <tr class="table">
          <th class="table-header"><strong>Nº ORDEN</strong></th>
          <th class="table-header"><strong>FECHA</strong></th>
          <th class="table-header"><strong>EDAD</strong></th>
          <th class="table-header"><strong>PESO</strong></th>
          <th class="table-header"><strong>TALLA</strong></th>
        </tr>
        {% for control in controles %}
          <tr>
            <td class="td_reporte table-content">{{ control.numero_orden }}</td>
            <td class="td_reporte table-content">{{ control.fecha_control }}</td>
            <td class="td_reporte table-content"><span>{{ control.edad_anios|edades:'A' }}</span> <span>{{ control.edad_meses|edades:'M' }}</span></td>
            <td class="td_reporte table-content {{ control.clase_peso }}">{{ control.peso_kilos }},{{ control.peso_gramos }} Gramos</td>
            <td class="td_reporte table-content {{ control.clase_talla }}">{{ control.talla }} CMS</td>
          </tr>
        {% endfor %}
      </table>
    </tbody>
  </table>
  <img src="{{ beneficiario.grafica_peso }}" style="margin-top: 30px; width: 1083px; height: 541px">
{% endif %}
</body>
</html>
