{% extends 'menu.html' %}{% block content %}{% load static from staticfiles %}{% if messages %}{% for message in messages %}{% load tags %}
<script>
$( document ).ready(function() {
	if ("{{ message }}" == "Creado"){
			mensagesSuccess("EXITO AL GUARDAR","Beneficiario","Creado Exitosamente");
	}
	if ("{{ message }}" == "Actualizado"){
			mensagesSuccess("EXITO AL EDITAR","Información del Beneficiario","Actualizada Exitosamente");
	}
	if ("{{ message }}" == "Borrado"){
			mensagesSuccess("EXITO AL BORRAR","Beneficiario","Borrado Exitosamente");
	}
	if ("{{ message }}" == "Caracteristicas"){
			mensagesSuccess("EXITO AL GUARDAR","Catacteristicas de Vivienda","Actualizadas Exitosamente");
	}
	if ("{{ message }}" == "Cabeza"){
			mensagesSuccess("EXITO AL GUARDAR","Cabeza de Nucleo","Actualizada Exitosamente");
	}
	if ("{{ message }}" == "Relaciones"){
			mensagesSuccess("EXITO AL GUARDAR","Relaciones Comunitarias","Actualizadas Exitosamente");
	}
  if ("{{ message }}" == "Nutricion"){
			mensagesSuccess("EXITO AL GUARDAR","Nutrición","Actualizada Exitosamente");
	}
  if ("{{ message }}" == "Salud"){
			mensagesSuccess("EXITO AL GUARDAR","Salud","Actualizada Exitosamente");
	}
});
</script>
{% endfor %}{% endif %}
<div class="page-header ">
    <div class="page-header-content">
      <div class="page-title">
        <div class="row">
         <div class="col-xs-12 col-sm-12 col-md-1"></div>
         <div class="col-xs-12 col-sm-12 col-md-10">
           <div class="breadcrumb container">
              <ul id="breadcrumb">
                <li><h4 style="margin-top: 5px;"><span id="titulo_breadcrumb" class="no-margin text-bold">LISTADO DE BENEFICIARIOS</span></h4></li>
                <li>&nbsp;&nbsp;</li>
                <li><a href="{% url 'beneficiarios:crearBeneficiario' %}"><button class="btn btn bg-warning-800 btn-labeled heading-btn" type="button"><b><i class="icon-user-plus"></i></b>&nbsp;&nbsp;CREAR BENEFICIARIO&nbsp;&nbsp;</button></a></li>
								<li>&nbsp;&nbsp;</li>
                <li><a href="{% url 'beneficiarios:reporteGeneralPDF' %}" target="_blank" ><button class="btn btn bg-danger btn-labeled heading-btn" type="button"><b><i class="icon-file-pdf"></i></b>&nbsp;&nbsp;REPORTE GENERAL&nbsp;&nbsp;</button></a></li>
              </ul>
           </div>
         </div>
         <div class="col-xs-12 col-sm-12 col-md-1"></div>
       </div>
      </div>
    </div>
    <div class="breadcrumb-line">
      <ul class="breadcrumb">
          <li><a href="{% url 'login:dashboard' %}"><i class="icon-meter-fast position-left"></i>Dashboard</a></li>
          <li class="active">Beneficiarios</a></li>
      </ul>
    </div>
</div>
<div class="content">
	<div class="panel panel-flat">
		<table id="list_ben" class="table datatable-responsive">
			<thead>
				<tr>
        	<th style="text-align: center;">UDS</th>
          <th style="text-align: center;">TIPO</th>
          <th style="text-align: center;">BENEFICIARIO</th>
          <th style="text-align: center;">DOCUMENTO</th>
          <th style="text-align: center;">EDAD</th>
          <th style="text-align: center;">GENERO</th>
          <th style="text-align: center;">REPORTES</th>
					<th style="text-align: center; max-width: 140px; width: 140px">ACCIONES</th>
				</tr>
			</thead>
			<tbody>
      {% if beneficiarios.count >= 1  %}
        {% for beneficiario in beneficiarios %}
        <tr>
          <td style="text-align: center;">{{ beneficiario.uds }}</td>
          <td style="text-align: center;">{{ beneficiario.tipo_beneficiario|tipo_beneficiarios }}</td>
          <td style="text-align: center;">{{ beneficiario.primer_nombre }} {{ beneficiario.segundo_nombre }}<br>{{ beneficiario.primer_apellido }} {{ beneficiario.segundo_apellido }}</td>
          <td style="text-align: center;">{{ beneficiario.tipo_documento }}<br>{{ beneficiario.numero_documento }}</td>
          <td style="text-align: center;">{{ beneficiario.edad_anios|edades:'A' }} {{ beneficiario.edad_meses|edades:'M' }}</td>
          <td style="text-align: center;">{{ beneficiario.genero|generos }}</td>
          <td style="text-align: center;">
            <ul class="icons-list">
              <li class="text-bg-grey-600"><a href="{{ servidor }}/beneficiarios/medidas_antropometricas/{{ beneficiario.id }}/reporte" target="_blank" data-popup="tooltip" title="MEDIDAS ANTROPOMETRICAS" data-placement="top" data-original-title="MEDIDAS ANTROPOMETRICAS"><i class="icon-file-pdf"></i>&nbsp;&nbsp;&nbsp;</a></li>
              <li class="text-bg-grey-600"><a href="{{ servidor }}/beneficiarios/datos_etnicos/{{ beneficiario.id }}/reporte" target="_blank" data-popup="tooltip" title="DATOS ETNICOS" data-placement="top" data-original-title="DATOS ETNICOS"><i class="icon-file-pdf"></i>&nbsp;&nbsp;&nbsp;</a></li>
							<li class="text-bg-grey-600"><a href="{{ servidor }}/beneficiarios/hechos_victimizantes/{{ beneficiario.id }}/reporte" target="_blank" data-popup="tooltip" title="HECHOS VICTIMIZANTES" data-placement="top" data-original-title="HECHOS VICTIMIZANTES"><i class="icon-file-pdf"></i>&nbsp;&nbsp;&nbsp;</a></li>
							<!--<li class="text-bg-grey-600"><a href="{{ servidor }}/beneficiarios/enfermedades/{{ beneficiario.id }}/reporte" target="_blank" data-popup="tooltip" title="ENFERMEDADES" data-placement="top" data-original-title="ENFERMEDADES"><i class="icon-file-pdf"></i>&nbsp;&nbsp;&nbsp;</a></li>-->
            </ul>
          </td>
          <td style="text-align: center;">
            <ul class="icons-list">
              <li class="text-warning-600"><a onclick='eliminar("beneficiario/eliminar/","{{ beneficiario.id }}","Eliminando Beneficiario por favor espere ....")' title="ELIMINAR" data-popup="tooltip" data-placement="top" data-original-title="ELIMINAR"><i class="icon-bin"></i></a></li>
              <li class="text-success-600"><a href="{% url 'beneficiarios:editarBeneficiario' beneficiario.id %}" data-popup="tooltip" title="EDITAR" data-placement="top" data-original-title="EDITAR" /><i class="icon-pencil7"></i></a></li>
            </ul>
          </td>
				</tr>
        {% endfor %}
			</tbody>
		</table>
    {% endif %}
	</div>
</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{% static 'assets/js/plugins/tables/datatables/datatables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/tables/datatables/extensions/responsive.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/pages/datatables_responsive.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/loaders/pace.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/loaders/blockui.min.js' %}"></script>
{% endblock %}
