{% extends 'menu.html' %}{% block content %}{% load static from staticfiles %}{% load tags %}
<style>
.label{
  font-size: 13px;
}
.panel-footer>ul>li+li {
    margin-left: 0px;
}
.label{
  color: #ffffff;
  height: 17px;
  line-height: 1;
}
</style>
<script type="text/javascript" src="{% static 'js-icbf/Chart.bundle.js' %}"></script>
<script type="text/javascript" src="{% static 'js-icbf/utils.js' %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.0/fullcalendar.min.js"></script>
<div class="page-header ">
    <div class="page-header-content">
      <div class="page-title">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-2"></div>
          <div class="col-xs-12 col-sm-12 col-md-8">
              <h4><span id="titulo_breadcrumb" class="no-margin text-bold">DASHBOARD CONTROL Y DESARROLLO</span></h4>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-2"></div>
        </div>
      </div>
    </div>
    <div class="breadcrumb-line">
      <ul class="breadcrumb">
          <li><i class="icon-meter-fast position-left"></i>Dashboard</a></li>
      </ul>
    </div>
</div>
<div class="content">
  <div class="timeline-row">
      <div class="row">
          <div class="col-sm-5 col-md-5 col-lg-5">
              <div class="panel panel-flat card-2">
                  <div class="panel-body" style="height: 400px; max-height: 400px;">
                    <h6 class="text-semibold no-margin-top" align="center">GRUPOS ÉTNICOS DE LOS BENEFICIARIOS</h6><br>
                    <div id="canvas-holder" style="width: 100%; height: 100%">
                        <canvas id="etnias" style="width: 100%; height: 85%"/>
                    </div>
                  </div>
                  <div class="panel-footer">
                    <ul class="col-xs-12 col-md-12">
                      <li class="col-xs-12 col-md-12">
                        <div class="col-xs-4 col-md-4"><i class="icon-checkbox-checked2" style="background: rgb(255, 255, 255); color: rgb(38, 50, 56);"></i>&nbsp;&nbsp;Afro :&nbsp;&nbsp;{{ afro }}</div>
                        <div class="col-xs-4 col-md-4"><i class="icon-checkbox-checked2" style="background: rgb(255, 255, 255); color: rgb(239, 108, 0);"></i>&nbsp;&nbsp;Indígena :&nbsp;&nbsp;{{ indigena }}</div>
                        <div class="col-xs-4 col-md-4"><i class="icon-checkbox-checked2" style="background: rgb(255, 255, 255); color: rgb(107, 30, 229);"></i>&nbsp;&nbsp;Rrom/Gitano :&nbsp;&nbsp;{{ gitano }}</div>
                      </li>
                      <li class="col-xs-12 col-md-12">
                        <div class="col-xs-4 col-md-4"><i class="icon-checkbox-checked2" style="background: rgb(255, 255, 255); color: rgb(0, 131, 143)"></i>&nbsp;&nbsp;Raizal S/A :&nbsp;&nbsp;{{ raizal }}</div>
                        <div class="col-xs-4 col-md-4"><i class="icon-checkbox-checked2" style="background: rgb(255, 255, 255); color: rgb(21, 101, 192);"></i>&nbsp;&nbsp;Palenquero :&nbsp;&nbsp;{{ palenquero }}</div>
                        <div class="col-xs-4 col-md-4"><i class="icon-checkbox-checked2" style="background: rgb(255, 255, 255); color: rgb(198, 40, 40);"></i>&nbsp;&nbsp;Ninguno :&nbsp;&nbsp;{{ ninguno }}</div>
                      </li>
                    </ul>
                  </div>
              </div>
          </div>
          <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="panel panel-flat card-2">
                <div class="panel-body" style="height: 436px; max-height: 436px;">
                  <h6 class="text-semibold no-margin-top" align="center">GENEROS DE LOS BENEFICIARIOS</h6><br>
                  <div id="canvas-holder" style="width: 100%; height: 100%">
                      <canvas id="generos" style="width: 100%; height: 85%"/>
                  </div>
                </div>
                <div class="panel-footer">
                  <ul class="col-xs-12 col-md-12">
                    <li class="col-xs-12 col-md-12">
                        <div class="col-xs-6 col-md-6" style="text-align: center"><span class="label" style="background: rgb(21, 101, 192);">NIÑOS {{ ninos }}</span></div>
                        <div class="col-xs-6 col-md-6" style="text-align: center"><span class="label" style="background: rgb(220, 50, 191);">NIÑAS {{ ninas }}</span></div>
                    </li>
                  </ul>
                </div>
            </div>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="panel panel-flat card-2">
                <div class="panel-body" style="height: 400px; max-height: 400px;">
                  <h6 class="text-semibold no-margin-top" align="center">EDADES DE LOS BENEFICIARIOS</h6><br>
                  <div id="canvas-holder" style="width: 100%; height: 100%">
                      <canvas id="edades" style="width: 100%; height: 82%"/>
                  </div>
                </div>
                <div class="panel-footer">
                  <ul class="col-xs-12 col-md-12">
                    <li class="col-xs-12 col-md-12">
                      <div class="col-xs-4 col-md-4"><span class="label" style="background: rgb(0, 131, 143);">0</span>&nbsp;&nbsp;Años :&nbsp;&nbsp;{{ menor }}</div>
                      <div class="col-xs-4 col-md-4"><span class="label" style="background: rgb(21, 101, 192);">1</span>&nbsp;&nbsp;Año :&nbsp;&nbsp;{{ uno }}</div>
                      <div class="col-xs-4 col-md-4"><span class="label" style="background: rgb(78, 52, 46);">2</span>&nbsp;&nbsp;Años :&nbsp;&nbsp;{{ dos }}</div>
                    </li>
                    <li class="col-xs-12 col-md-12">
                      <div class="col-xs-4 col-md-4"><span class="label" style="background: rgb(198, 40, 40);">3</span>&nbsp;&nbsp;Años :&nbsp;&nbsp;{{ tres }}</div>
                      <div class="col-xs-4 col-md-4"><span class="label" style="background: rgb(239, 108, 0);">4</span>&nbsp;&nbsp;Años :&nbsp;&nbsp;{{ cuatro }}</div>
                      <div class="col-xs-4 col-md-4"><span class="label" style="background: rgb(46, 125, 50);">5</span>&nbsp;&nbsp;Años :&nbsp;&nbsp;{{ cinco }}</div>
                    </li>
                  </ul>
                </div>
            </div>
          </div>
      </div>
  </div>
</div>
{% endblock %}{% block javascript %}
<style>
    canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    </style>
<script>

    var config1 = {
        type: 'doughnut',
        data: {
            datasets: [{
                data: [{{ afro }},{{ indigena }},{{ gitano }},{{ raizal }},{{ palenquero }},{{ ninguno }}],
                backgroundColor: ["rgb(38, 50, 56)","rgb(239, 108, 0)","rgb(107, 30, 229)","rgb(0, 131, 143)","rgb(21, 101, 192)","rgb(198, 40, 40)"],
            }],
            labels: ["AFROCOLOMBIANO","INDÍGENA","RROM/GITANO","ARCHIPIELAGO S/A","PALENQUERO","NINGUNO"]
        },
        options: {
            responsive: true,
            legend: { display: false },
            animation: { animateScale: true, animateRotate: true }
        }
    };

    var rango = parseFloat({{ range_genero }})
    var config2 = {
      type: 'bar',
      data: {
        datasets: [{
            data: [{{ ninos }},{{ ninas }}],
            backgroundColor: ["rgb(21, 101, 192)","rgb(220, 50, 191)"],
            borderColor: ["rgb(21, 101, 192)","rgb(220, 50, 191)"],
            borderWidth: 1,
        }],
        labels: ["NIÑOS","NIÑAS"],
      },
      options: {
          responsive: true,
          legend: { display: false },
          animation: { animateScale: true, animateRotate: true },
          scales: { yAxes: [{ ticks: { min: 0, max: {{ max_genero }}, stepSize: rango } }] },
      }
    };

    var config3 = {
        type: 'pie',
        data: {
            datasets: [{
                data: [{{ menor }},{{ uno }},{{ dos }},{{ tres }},{{ cuatro }},{{ cinco }}],
                backgroundColor: ["rgb(0, 131, 143)","rgb(21, 101, 192)","rgb(78, 52, 46)","rgb(198, 40, 40)","rgb(239, 108, 0)","rgb(46, 125, 50)"],
            }],
            labels: ["0 AÑOS","1 AÑO","2 AÑOS","3 AÑOS","4 AÑOS","5 AÑOS"]
        },
        options: {
          legend: { display: false },
          animation: { animateScale: true, animateRotate: true },
          responsive: true
        }
    };


    window.onload = function() {
        var d1 = document.getElementById("etnias").getContext("2d");
        var d2 = document.getElementById("generos").getContext("2d");
        var d3 = document.getElementById("edades").getContext("2d");
        window.myDoughnut = new Chart(d1, config1);
        window.myBar = new Chart(d2, config2);
        window.myPie = new Chart(d3, config3);
    };

</script>
<script type="text/javascript" src="{% static 'assets/js/plugins/tables/datatables/datatables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/tables/datatables/extensions/responsive.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/selects/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/pages/datatables_responsive.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/ui/prism.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/pages/extension_blockui.js' %}"></script>
{% endblock %}
