<!DOCTYPE html>
<html lang="es">
<head>
	{% load static from staticfiles %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Control y Desarrollo</title>
	<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
	<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{% static 'assets/css/icons/font-awesome/css/font-awesome.min.css' %}">
	<link href="{% static 'assets/css/icons/icomoon/styles.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/minified/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/minified/core.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/minified/components.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/minified/colors.min.css' %}" rel="stylesheet" type="text/css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
	<script type="text/javascript" src="{% static 'assets/js/core/libraries/jquery_ui/interactions.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/forms/selects/select2.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/pages/form_select2.js' %}"></script>
	<script type="text/javascript" src="{% static 'js-icbf/genericas.js' %}"></script>
</head>
